*{
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    background-size: cover;
 
}
.container{
    display: flex;
}
.name{
    margin-top: 10px;
    display: flex;
    align-items: center;

}
.name h1 {
    padding: 10px;

}
.price{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;

}