@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    background-size: cover;
    color: white;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
    font-family: 'Poller One', cursive;
 
}
input{
    width: 100%;
    padding-top: 10px;
    border: 0;
    display: block;
    border-style: hidden solid hidden hidden;
    border-bottom: 2px solid #fff;
    font-size: 2.25em;
    font-weight: 500;
    outline: none;
    text-align: center;
}
input:focus{
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.child-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.child-2{
    margin: 0 auto;
}
.child-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    margin-top: 10px;
    display: flex;
    align-items: center;

}
.name h1 {
    padding: 10px;

}
.price{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;

}
.timing{
    font-size: 700%;
}
.text{
    text-align: center;
}